torch~=1.10.2
datasets~=1.18.4
# The version you need to download is the following : 4.18.0.dev0 which you can download using the following commands in terminal or console
#git clone https://github.com/huggingface/transformers
#cd transformers
#pip install .
transformers~=4.17.0
